.chat-side
  .side-header
    .side-header__box
      .side-header__box__username
        = current_user.name
      .side-header__box__menu
        =link_to new_group_path, class: "side-header__box__menu--new-group" do
          = icon('fa', 'edit', class: 'icon')
        =link_to edit_user_path(current_user), class: "side-header__box__menu--setting" do
          = icon('fas', 'cog', class: 'icon')
  .groups
    - current_user.groups.each do |group|
      = link_to group_messages_path(group) do
        .group
          .group--group-name
            = group.name
          .group--latest-message
            = group.show_last_message